<div class="row">
    <div class="col-md-10 user-container">
        <h2 style="margin: auto"> User Details</h2>
        <button class="btn btn-success" style="width:100px" (click)="addUser()"> Add User</button>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Active</th>
                    <th>Verified</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users;">
                    <td>{{user._id}}</td>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone}}</td>
                    <td class="text-center">
                        <input [checked]="user.is_active" type="checkbox" class="form-check-input">
                    </td>
                    <td class="text-center">
                        <input [checked]="user.is_verified" type="checkbox" class="form-check-input">
                    </td>
                    <td><button class="btn btn-danger" (click)="deleteUser(user)"> Delete</button>
                        <button class="btn btn-warning" (click)="editUser(user)" style="margin-left: 20px;"> Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-success" style="width:100px" (click)="addUser()"> Add User</button>
    </div>
</div>