<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">EXPRESS CLIENT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item-right active">
        <a id="logoutBtn" (click)='logout()' class="btn btn-outline-danger my-2 my-sm-0">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>