<div class="col-md-6 user-container">
    <h2 class="text-center">Add User</h2>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="firstName">First name</label>
            <input type="text" formControlName="first_name" name="first_name" class="form-control" id="firstName" required>
        </div>

        <div class="form-group">
            <label for="lastName">Last name</label>
            <input type="lastName" formControlName="last_name" name="last_name" class="form-control" id="lastName" required>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input formControlName="email" placeholder="jhon@gmail.com" name="email" class="form-control" id="email" required>
        </div>

        <div class="form-group">
            <label for="phone">Phone</label>
            <input formControlName="phone" placeholder="84838281" name="phone" class="form-control" id="phone" required>
        </div>

        <div class="form-group form-check">
            <input formControlName="is_verified" type="checkbox" name="is_verified" class="form-check-input" id="is_verified">
            <label for="is_verified">Verified</label>
        </div>

        <div class="form-group form-check">
            <input formControlName="is_active" type="checkbox" name="is_active" class="form-check-input" id="is_active">
            <label class="form-check-label" for="is_active">Active</label>
        </div>

        <button class="btn btn-success">Add</button>
        <button (click)="goBack()" class="btn btn-secondary">Cancel</button>
    </form>
</div>